.git
.github
.idea
.vscode
node_modules
vendor
tests
*.md
.env
.env.local
.env.testing
.env.production
.env.prod
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
storage/app/public/streams/*
storage/app/public/logos/*
docker-compose*.yml
compose.yaml
docker-compose.prod.yml
Dockerfile
.dockerignore
rr
.rr.yaml
public/build/.vite
